body{
    background-color:rgb(77,77,77);
    background-image: url('../images/background.jpg');
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    color:rgb(255, 255, 255);
    background-color: rgba(233, 123, 34, 0.897);

}
p{
    color:whitesmoke;
    font-size:large;
}
a:link,a:visited{
    background-color: rgba(233, 123, 34, 0.897);
    color:whitesmoke;
    padding: 5px 15px;
    display: inline-block;
    margin: 10px;
}

a:hover,a:active{
    background-color: rgba(233, 123, 34, 0.897);
}
table{
    margin: 15%;
    border:1px solid white;
    border-collapse: collapse;
    padding: 10px;
    color:white;
    width: 70%;
}
th{
    background-color: rgba(233, 123, 34, 0.897);
    border-bottom: 1px solid white;
}
tr{
    border-bottom: 1px white;
}
tr:nth-child(even){
    background-color: rgba(116, 116, 116, 0.897);
}
tr:nth-child(odd){
    background-color: rgba(173, 91, 24, 0.89);
}
tr:hover{
    color:black;
    background-color: #D6EEEE;
}
ul,ol,dl{
    font-size:larger;
    color:whitesmoke;
    text-align: left;
    margin-left: 5%;
    background-color: rgba(255, 115, 0, 0.288);
}
li,dd{
    font-size:medium;
    margin-left: 7%;
}